In [1]:
# notebook to explore data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib widget

In [12]:
# read in data
df = pd.read_csv('/Users/cam/Downloads/Hunt+2023 and Gagné+2018 (< 70 Myr)_integrated.csv')
# limit to only important columns
df = df[['time', 'name', 'age_myr', 'x', 'y', 'z']]
for k in df.keys():
    print(k)

time
name
age_myr
x
y
z

In [7]:
df.y_new

0      196.715935
1     -150.281448
2     -141.129523
3     -127.842069
4     -113.275029
          ...
249    -50.476750
250   -177.952140
251   -764.128415
252   -805.843074
253    344.360387
Name: y_new, Length: 254, dtype: float64

In [8]:
df = df.rename(columns = {
    'x_new' : 'x',
    'y_new' : 'y',
    'z_new' : 'z'
})

df1 = df[['name', 'age_myr', 'x', 'y', 'z']]

In [9]:
df1

            name    age_myr           x           y           z
0      ADS_16795  56.909672  -73.862809  196.715935   -9.738821
1        ASCC_18   9.258260 -366.024718 -150.281448 -132.553109
2        ASCC_19   7.449458 -305.273980 -141.129523 -118.114080
3        ASCC_20  12.542164 -322.138982 -127.842069 -110.920692
4        ASCC_21   6.898220 -310.387864 -113.275029  -97.642340
..           ...        ...         ...         ...         ...
249      UPK_640   9.619756  167.606319  -50.476750   14.257240
250      ZHBJZ_1  13.495854 -224.325823 -177.952140  -10.698767
251   vdBergh_83   6.283996 -506.317207 -764.128415 -233.860920
252   vdBergh_92   4.396395 -817.275865 -805.843074  -47.290891
253  vdBergh_152   3.996555 -126.920789  344.360387   73.394491

[254 rows x 5 columns]